Package: uf-desktop
Version: 0.2
Architecture: all
Depends: uf-ufplymouththeme, uf-fonts, uf-dashtopanel, uf-desktopiconsng, uf-starshiprs, uf-uf-helper, uf-simplelaunchers, uf-arcmenu
Maintainer: UFlinux
Description: UFlinux desktop meta package
